<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>  

    <title>Korean Ferry</title>

    <style>
      h1 {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        /*color: white !important; */
        text-align: center;
        position: relative;
      }
      img {
        opacity: 1;
      }
      p {
        padding-top: 10px; padding-bottom: 10px;
        padding-left: 7%;
        padding-right: 7%;
        /*font-family: sans-serif;*/
        font-size: 16px; line-height: 140%;
        letter-spacing: 1px;
        color: rgb(100,100,100);
        position: relative;
      }
      .thick {
        font-weight: 800;
      }
      .cgrey {
        color: grey;
      }
      .cblue {
        color: black;
        font-size: 24px;
      }
      .bgrey {
        padding-top:20px; padding-bottom:20px;
        background-color: grey;
        color: white;
      }
/*      .navbar {
        position: relative;
      }*/
    </style>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>

    <script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>


  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">KOREAN FERRY</a>
        <ul class="nav">
          <li><a href="/time">TIMELINE</a></li>
          <li><a href="/viz">VISUALIZATION</a></li>
        </ul>
      </div>
    </div>

<!--      <img src="/img/ferry4.jpg" alt="Generic placeholder image" style="padding:0px; position: relative; top: -21px;"> -->

     <img src="/img/f3.png" alt="Generic placeholder image" style="padding:0px; position: relative; top: -21px;">

     <br><br>

     <p><span class="cblue">The sinking of the MV Sewol</span> occurred on 16 April 2014 on route from Incheon towards Jeju. The South Korean ferry capsized while carrying 476 people (officially announced number, but actually unknown), mostly secondary school students from Danwon High School (Ansan City). </p>

    <p>Many passengers were rescued by fishing boats and other commercial vessels, which were first on the scene before the arrival approximately 30 minutes later of the South Korean coast guard and ROK Navy ships, backed by helicopters. There are ongoing recovery efforts by the South Korean government, the United States Navy, civilian groups, and individuals.</p>

    <p>The sinking of the Sewol has resulted in widespread social and political reaction within South Korea, ranging from criticism of the actions of the captain and most of the crew of the ferry, to criticism of the ferry operator and the regulators who oversaw its operations, to criticism of the South Korean government and media for its disaster response and attempts to downplay government culpability. On 15 May 2014, the captain and 3 crew members were charged with murder, while the other 11 members of the crew were indicted for abandoning the ship.</p>
    <br><br>

    <p class="bgrey">hihi<p>

  </body>
</html>
