<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>  

    <title>Korean Ferry</title>
    <link rel="icon" href="/img/favicon.io" />

    <style>
      body {
        padding-bottom: 0px;
      }
      p {
        padding-top: 12px; 
        padding-bottom: 12px;
        padding-left: 7%;
        padding-right: 7%;
        /*font-family: sans-serif;*/
        font-size: 15px; line-height: 140%;
        font-weight: 300;
        letter-spacing: 1px;
        /*color: rgb(100,100,100);*/
        position: relative; margin: 0px;
      }
      .thick {
        font-weight: 800;
      }
      .cgrey {
        color: grey;
      }
      .cblue {
        color: black;
        font-size: 23px;
        font-weight: 500;
      }
      .bgrey {
        padding-top:36px; 
        padding-bottom:36px;
        background-color: black;
        color: white;
        font-weight: 100 !important;
        margin: 0px;
      }
    </style>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>

    <script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!--     <link rel="icon" src="/img/yr.png" type="image/png" sizes="16x16"> -->
  </head>


  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">KOREAN FERRY</a>
        <ul class="nav">
          <li><a href="/time">TIMELINE</a></li>
          <li><a href="/viz">VISUALIZATION</a></li>
        </ul>
      </div>
    </div>

<!--      <img src="/img/ferry4.jpg" alt="Generic placeholder image" style="padding:0px; position: relative; top: -21px;"> -->

     <img src="/img/f3.png" alt="Generic placeholder image" style="padding:0px; position: relative; top: -21px;" />

     <br><br>

     <p><span class="cblue">The sinking of the MV Sewol</span> occurred on 16 April 2014 on route from Incheon towards Jeju. The South Korean ferry capsized while carrying 476 people (officially announced number, but actually unknown), mostly secondary school students from Danwon High School (Ansan City). Many passengers were rescued by fishing boats and other commercial vessels, which were first on the scene before the arrival approximately 30 minutes later of the South Korean coast guard and ROK Navy ships, backed by helicopters. There are ongoing recovery efforts by the South Korean government, the United States Navy, civilian groups, and individuals.</p>

    <p>The sinking of the Sewol has resulted in widespread social and political reaction within South Korea, ranging from criticism of the actions of the captain and most of the crew of the ferry, to criticism of the ferry operator and the regulators who oversaw its operations, to criticism of the South Korean government and media for its disaster response and attempts to downplay government culpability. On 15 May 2014, the captain and 3 crew members were charged with murder, while the other 11 members of the crew were indicted for abandoning the ship. <a href="http://en.wikipedia.org/wiki/Sinking_of_the_MV_Sewol"> (wikipedia)</a></p>

    <br>

    <p class="bgrey">
      This project has been developed to show the events happened around the South Korea Ferry Disaster. The timeline focuses more on government and media than on rescue efforts or international reactions. It covers the events from April 16th to May 30th, and will be updated more on later. Please send an email if you have any questions or thoughts <a href="mailto:info@koreanferrydisaster.com">here.</a>
    </p>

  </body>
</html>
