<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>  

    <title>Korean Ferry</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>

    <script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="icon" src="/img/yr.png" type="image/png" sizes="16x16">
  </head>


  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">KOREAN FERRY</a>
        <ul class="nav">
          <li><a href="/time">TIMELINE</a></li>
          <li><a href="/viz">VISUALIZATION</a></li>
        </ul>
      </div>
    </div>

    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AkxHRTHFyolFdElnNzBMRHIyRHgwZVdJb2ZkT2NFTnc&font=NixieOne-Ledger&maptype=toner&lang=en&debug=true&height=650' width='100%' height='650' frameborder='0'></iframe>
  </body>
</html>
