
<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>

    <style>
      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }
      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
      .node text {
        pointer-events: none;
        font: 11px sans-serif;
        font-weight: 400;
        color: rgba(200,200,200, 1);
        stroke: none;
      }
    </style> 

    <title>Korean Ferry</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>

    <script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>


  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">KOREAN FERRY</a>
        <ul class="nav">
          <li><a href="/">TIMELINE</a></li>
          <li><a href="/viz">VISUALIZATION</a></li>
        </ul>
      </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script language="javascript" type="text/javascript" src="network.js"></script>
    
<!-- 
    <script language="javascript" type="text/javascript" src="network2.js"></script>
     -->
  </body>
</html>
