<!DOCTYPE html>
<meta charset="utf-8">
<style>
	body {
		font: 10px sans-serif;
	}
	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.x.axis path {
		/*display: none;*/
	}
	.y.axis path {
		display: none;
	}
	.line {
		fill: none;
		stroke: steelblue;
		stroke-width: 1.5px;
	}
/*	.svg {
		position: relative;
		top: 100px;
	}*/
</style>

<body>

	<script language="Javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script src="http://d3js.org/d3.v3.js"></script>
	<script language="javascript" type="text/javascript" src="viz_d3.js"></script>

<!--  <iframe src="/viz_d3_iframe" marginwidth="0" marginheight="0" scrolling="no"></iframe>
 -->

<!-- 	 <svg width="950" height="540" style="margin-top: 10px;">
 -->
</body>